html, body, div, header, nav, ul, li, a, section, footer, hgroup, h1, h2, p{
	margin:0;
	padding:0;
	border:0;
	font-size:100%; 
	font:inherit;
	vertical-align:baseline
}

header, nav, section, footer, hgroup{
	display:block;
}

body{
	line-height:1;
}

ul{
	list-style:none;
}
.section {
position: relative;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}
.video-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
}

body{
	background: #edf5b8 url('../img/bodyBg.png') repeat-x;
	color:#636363;
	padding: 15px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
